.button {
    padding: 18px 40px;
    display: inline-flex;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #F5170E;
    border-radius: 28px;
}

.button--fill {
    background-color: #F5170E;
    color: #FFFFFF;
}

.button--outline {
    color: #F5170E;
}

.button--outline:hover {
    background-color: #F5170E;
    color: #FFFFFF;
}