.button {
    padding: 18px 40px;
    display: inline-flex;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #F5170E;
    border-radius: 28px;
    transition-property: color background-color border-color;
    transition-duration: 0.3s;
}

.button--fill {
    background-color: #F5170E;
    color: #FFFFFF;
}

.button--outline {
    color: #F5170E;
}

.button--black {
    color: #FFFFFF;
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.button--outline:hover {
    background-color: #F5170E;
    color: #FFFFFF;
}