@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/air-asia/assets/fonts/OpenSans-Regular.woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/air-asia/assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/air-asia/assets/fonts/OpenSans-Bold.woff2') format('woff2');
}