.footer {
    margin-top: 58px;
    position: relative;
    padding-top: 49px;
    padding-bottom: 58px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
}

.footer__nav {
    margin-left: 74px;
    display: flex;
}

.footer__socials {
    margin-left: 266px;
}

.footer__contacts {
    margin-left: auto;
    text-align: right;
}

.footer__contacts-description {
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: #9A9A9A;
}